@import "~vazir-font/dist/Farsi-Digits/font-face-FD.css";
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Vazir FD';
    direction: rtl;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

li,
ul {
    list-style: none;
}